workflows/ai_document_ingestion.json
{
  "name": "AI Document Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "199f440f-d074-4c84-b322-eb02d2afe036",
              "name": "library_id",
              "value": "={{ $json.output.library_id }}",
              "type": "number"
            },
            {
              "id": "480628f6-e778-4153-9d1a-e780073368fe",
              "name": "doc_name",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "fc0bcb25-3b8d-41e8-9722-3a4b2501bf67",
              "name": "full_text",
              "value": "={{ $json.output.full_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        16
      ],
      "id": "98d942d7-51c3-49e7-b427-f59cbf359d92",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=http://api:8000/libraries/{{ $json.library_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        16
      ],
      "id": "aae247b5-fad6-4a33-ad55-4f3a3fbf7184",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/documents/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields').item.json.doc_name }}\",\n  \"library_id\": {{ $('Edit Fields').item.json.library_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        16
      ],
      "id": "060c7810-64c1-4d72-9a4e-fa093e7dd97f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ec2901f-f8f8-48ef-80ce-7ac058db4636",
              "name": "chunks_array",
              "value": "={{ $('Edit Fields').item.json.full_text.match(/((?:\\S+\\s*){1,10})/g) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        16
      ],
      "id": "9576989a-b90d-4e99-88fc-c001b5fe892e",
      "name": "split_chunks"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks_array",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1360,
        16
      ],
      "id": "c263e4f7-3201-4a9b-b096-19dd86e8b748",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/chunks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.chunks_array }}"
            },
            {
              "name": "document_id",
              "value": "={{ $('HTTP Request1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        16
      ],
      "id": "d7c038dc-aac7-4368-9859-e3aed1995497",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "1b6643ed-f1fb-432e-aa83-a85304355ee0",
      "name": "When chat message received",
      "webhookId": "448d8a0e-45b2-468a-92d7-e1f6850fdf45"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Content Generator for a Vector Database.\nUser will ask you to create a document in a specific library about the topic that the user says.\n\n1. Extract the 'library_id' (integer).\n  IMPORTANT: if the user does not specify a library_id, use 0 as default.\n2. Generate a 'title' for the document.\n3. Write the 'full_text'. \n   ⚠️ CRITICAL: The 'full_text' MUST be less than 100 words. Keep it concise.\n\nYou MUST reply with ONLY valid JSON.\nFormat:\n{\n  \"library_id\": 1,\n  \"title\": \"Example Title\",\n  \"full_text\": \"Short content goes here...\"\n} {{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "9d97ee1a-3aaa-4c24-b67f-2552d4fa1790",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        192
      ],
      "id": "c8c7eaf9-29da-4d3f-9e8d-acbf3001b733",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lKId37HVA0mrnNWx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"library_id\": 1,\n  \"title\": \"Example Title\",\n  \"full_text\": \"Content goes here...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        192
      ],
      "id": "ce794d38-e173-449a-bccf-68c703ca4a85",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "split_chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_chunks": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c463fb5-40a3-4d4b-bc92-7a70b5e1a699",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76cd901fd36a436a170b2bfc422951d0d3bd5f4e60b5241a5e16a85f3b6366cf"
  },
  "id": "G70TFuqlXoDI6c6P",
  "tags": []
}