workflows/ai_document_ingestion.json
{
  "name": "AI Document Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "199f440f-d074-4c84-b322-eb02d2afe036",
              "name": "library_id",
              "value": 0,
              "type": "number"
            },
            {
              "id": "480628f6-e778-4153-9d1a-e780073368fe",
              "name": "doc_name",
              "value": "Artificial Intelligence",
              "type": "string"
            },
            {
              "id": "fc0bcb25-3b8d-41e8-9722-3a4b2501bf67",
              "name": "full_text",
              "value": "AI holds the potential to address complex challenges from enhancing education and improving health care, to driving scientific innovation and climate action. However, AI systems also pose risks to privacy, safety, security, and human autonomy. Effective governance is essential to ensure AI development and deployment are safe, secure and trustworthy, with policies and regulation that foster innovation and competition.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "c62ffa49-1895-4bf1-89ce-c0595afc6b8c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=http://api:8000/libraries/{{ $json.library_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        0
      ],
      "id": "21e3a082-cbeb-435a-b008-46d25c08ff3a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/documents/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields').item.json.doc_name }}\",\n  \"library_id\": {{ $('Edit Fields').item.json.library_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        0
      ],
      "id": "6f76e13a-6c6f-442e-8f32-3f4f457cc868",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ec2901f-f8f8-48ef-80ce-7ac058db4636",
              "name": "chunks_array",
              "value": "={{ $('Edit Fields').item.json.full_text.match(/((?:\\S+\\s*){1,10})/g) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        0
      ],
      "id": "c99d1606-076a-4cce-81a9-345904b3772e",
      "name": "split_chunks"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks_array",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "68cc3899-e953-4ca4-8483-3220af9c8e15",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/chunks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.chunks_array }}"
            },
            {
              "name": "document_id",
              "value": "={{ $('HTTP Request1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        0
      ],
      "id": "db688921-b9b3-4017-ac7e-bfd0cb2b5fe4",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -144,
        -16
      ],
      "id": "08b15d12-6a41-47e9-8dae-1cb9ee788ffc",
      "name": "When chat message received",
      "webhookId": "448d8a0e-45b2-468a-92d7-e1f6850fdf45"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a Content Generator for a Vector Database.\nUser will ask you to create a document in a specific library about a topic.\n\n1. Extract the 'library_id' (integer).\n2. Generate a 'title' for the document.\n3. Write the 'full_text'. \n   ⚠️ CRITICAL: The 'full_text' MUST be less than 100 words. Keep it concise.\n\nYou MUST reply with ONLY valid JSON.\nFormat:\n{\n  \"library_id\": 1,\n  \"title\": \"Example Title\",\n  \"full_text\": \"Short content goes here...\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        80,
        -16
      ],
      "id": "7afd757a-2a39-4d3a-90aa-89ec252ab49b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "1fe358b8-8b47-42dd-88b8-02757b38a54f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Kug4BKn0rtSQWBVD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"library_id\": 1,\n  \"title\": \"Example Title\",\n  \"full_text\": \"Content goes here...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        176
      ],
      "id": "1a902f4b-4d7b-4c77-b380-6b3d167c43ba",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "split_chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_chunks": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "873d7d46-984e-4892-903c-f37470796c12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97553f3eeeedda6d249db98a39122bfa63b395d19388bcff4957d57b9efa5fde"
  },
  "id": "28Isk6nNnzqEeGf9",
  "tags": []
}